html {
  padding:  30px 50px 75px 100px;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: whitesmoke;
  font-size: 18px;
}
/* style list in navigation bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover over navigation bar */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
  color: white;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 24px;
  color: #007bb8;
}

.citation {
  font-style: italic;
  font-size: 12px;
}