html {
  padding: 0px;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: whitesmoke;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover over navigation bar */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
  color: white;
}

h1 {
  text-align: center;
  margin: 50px 0 0 0;
}

h3 {
  font-size: 24px;
  color: #007bb8;
}

.citation {
  font-style: italic;
  font-size: 12px;
  align: center;

}

.subheader {
  font-size: 20px;
  color:  #007bb8;
}

.text-graph {
  display: grid;
  grid-template-columns: 35% 65%;
}

.text {
  padding-top: 100px;
} 

.t-button {
  padding-left: 100px;
}

.content {
  padding: 20px 70px;
}