html {
  padding:  30px 50px 75px 100px;
  background-color: lightgray;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  border-right: 1px solid #bbb:
}

li {
  border-right; none;
}

h2 {
  text-align: center;
  font-size: 32px;
}

/* Delineate missile types in paragraphs */
.missiletype {
  border: 3px;
  border-style: solid;
  border-color: darkslategray;
  padding:  1em;
  font-size: 25px;
  font-weight: bolder;
  text-transform: full-width;
  text-align: center;
  background-color: gunsmoke;
}

.data {
  color: darkslategray;
}
/*highlight commentary points for bottom line "so what"*/

.commentary {
  border-color: darkslategray;
  background-color: lightgoldenrodyellow;
  border: 3px;
  border-style: solid;
  border-color: navy;
  padding: 1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-content: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.mountains {
  background-image: /images/bluemountains.png;
}

.active {
  background-color: #04AA6D;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 20px;
  padding-left: 20px;
}